/* .container {
  padding: 0 2rem;
} */

.main {
  /* min-height: 100vh; */
  padding: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


/*  NEW  */
.nav{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  z-index: 1;  
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

.navItem{
  padding: 8px
}

.headerTextContainer{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  position: relative;
  color: white;
  z-index: 1;  
  padding-left: 10%;
  font-size: 2.2rem;
 
}

@media (max-width: 600px) {
  .headerTextContainer {
    padding-left: 0px;
    /* display: flex; */
    justify-content: center;
    align-items: center;


  }
  .headerText {
    font-size: 1.8rem;
  }
}


.heroContainer {
  height: 100vh;
}


.tsparticles{
  position: absolute;
  top: 0;
  width: 100vw

  /* overflow: hidden;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: -500px;
  /* left: -600px; */
  /* top: -200px; */

}


.motionContainer {
  /* width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(192, 146, 146, 0.2);
  padding: 20px; */
  /* border-radius: 30px; */
}


.wrapper {
  max-width: 750px;
  /* height: 150px; */
  /* top: 50%;
  left: 50%; */
  /* transform: translateX(-50%) translateY(-50%); */
  }

  
  .splash {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    clip-path: path(
      "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
    );
  }
  